.gridSearch {
    position: relative;
}

.gridSearch > span {
    position: absolute;
    top: 9px;
    left: 10px;
}

.gridSearch input {
    display: inline-block;
    padding-left: 30px;
}

.gridSearch button {
    position: absolute;
    top: 7px;
    right: 2px;
}

.gridSearch .btn-transparent {
    border: none;
}
