.gridSearch {
    position: relative;
}

.gridSearch > span {
    position: absolute;
    top: 9px;
    left: 10px;
}

.gridSearch input {
    display: inline-block;
    padding-left: 30px;
}

.gridSearch textarea {
    display: inline-block;
    padding-left: 30px;
}

.gridSearch button {
    position: absolute;
    top: 7px;
    right: 2px;
}

.gridSearch .btn-transparent {
    border: none;
}

.gridFilter select {
	padding-left: 30px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */
	.gridFilter select {
		padding-left: 0px;
		text-indent: 22px;
	}
}

.gridSearchMX .mx-grid-search-item {
	width:100%;
}
.gridSearchMX .mx-grid-search-label{
	width: 50%;
}
.gridSearchMX .mx-grid-search-input {
	width:100%;
}
.gridSearchMX .mx-grid-search-label+.mx-grid-search-input {
	width:50%;
}

.checkBoxFilter {
  font-size: 12;
  margin: 16px 5px 14px 20px;
  color: #42576a;
}

.checkBoxFilter input[type = "checkbox"]{
  margin: 11px 5px 9px 12px;
  border-color: #cccccc;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}

.checkBoxFilter label {
  font-size: 11;
  color: #41494c;
  display: inline-block;
  vertical-align: middle;
 }

.gridSearch.activeFilters > div {
    background-color:cornflowerblue;
    color:white;
    margin-left:10px;
    padding:5px 10px 5px 10px;
    border-radius:10px;
    cursor:pointer;
}

.gridSearch.activeFilters > div:before {
    content: "x";
    color:black;
    padding-right:10px;
}

.gridSearch.activeFilters {
    margin-top:10px;
    margin-bottom:10px;
}

.gridSearch .counter-bar-wrapper {
	display:flex;
	align-items: center;
}

.gridSearch .counter-bar {
	background-color:lightblue;
	height:15px;
	margin-right: 15px;
}

.gridSearch .counter-bar.empty-bar {
	background-color:grey;
	flex: 0 1 1px !important;
}

.gridSearch .counter-bar-wrapper label {
	flex: 1 15px;
}
