test/javasource/
test/deployment/
test/.classpath
test/.project
test/theme/
test/userlib/
test/.classpath
test/.project
test/.svn
test/.mendix-cache
test7/javasource/
test7/deployment/
test7/.classpath
test7/.project
test7/theme/
test7/userlib/
test7/.classpath
test7/.project
test7/.svn
test7/.mendix-cache
*.launch
*.tmp
*.lock
.idea/

dist/

node_modules/
.editorconfig
*DS_Store*
.vscode/
*.bak
