test/javasource/
test/deployment/
test/.classpath
test/.project
test/theme/
test/userlib/
test/.classpath
test/.project
test6/javasource/
test6/deployment/
test6/.classpath
test6/.project
test6/theme/
test6/userlib/
test6/.classpath
test6/.project
test7/javasource/
test7/deployment/
test7/.classpath
test7/.project
test7/theme/
test7/userlib/
test7/.classpath
test7/.project
*.launch
*.tmp
*.lock
.idea/

dist/

node_modules/
.editorconfig
*DS_Store*
.vscode/
*.bak
