test/javasource/
test/deployment/
test/.classpath
test/.project
test/theme/
test/userlib/
test/.classpath
test/.project
test/.svn
test/.mendix-cache
test6/javasource/
test6/deployment/
test6/.classpath
test6/.project
test6/theme/
test6/userlib/
test6/.classpath
test6/.project
test6/.svn
test6/.mendix-cache
*.launch
*.tmp
*.lock
.idea/

node_modules/
.editorconfig
*DS_Store*
.vscode/
*.bak
