<div class="gridSearch" data-dojo-attach-point="searchContainer">
	<button class="btn-transparent hidden" data-dojo-attach-point="buttonNode">
		<span class="glyphicon glyphicon-remove"></span>
	</button>
	<span class="glyphicon glyphicon-search"> </span>
	<input type="search" placeholder="Search" class="form-control" data-dojo-attach-point="searchNodeSingle" value="">
	<textarea placeholder="Search" class="form-control" data-dojo-attach-point="searchNodeMulti" value="" style="display:none;">
</div>
